.git/
**/.gitignore
**/.gitkeep
#
**/.DS_Store
**/__pycache__/
**/.pytest_cache
**/*.pyc
**/*.swo
**/*.swp
**/*.*~
**/*.log
**/*.pid
**/.venv/
#
Dockerfile
docker-compose.yaml
docker-compose.*.yml
#
.mypy_cache
.pytest_cache
.pre-commit-config.yaml

volume_data
