coverage.xml
.env
.coverage
.pytest_cache
.mypy_cache
volume_data
front/build
front/src/api/**
front/api
*.dec
*.swp
dump.sql
report.md
rozert_pay/local_settings.py
.history/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
__pycache__/

